.evani {
  padding: 0;
  background-color: black;
  position: relative;
  .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      display: block;
      width: 100%;
      fill: #FFF;
  
      &.inves {
        margin-top: -76px;
        transform: rotate(180deg);
      }
    }
    span {
      z-index: 2;
      position: absolute;
      color: white;
      font-size: 2.8rem;

      margin-top: 262px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .metodologia {
      margin-top: -16px;
    }

    .content {
      display: grid;
      grid-template-columns: 700px 700px;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 40px;

      margin-top: -82px;
     @media (max-width: $screen-xs) {
      grid-template-columns: 1fr;
     }
      .left {
        h1 {
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-size: 3.6rem;
          margin-bottom: 20px;
          span {
            color: #FFFF99;
          }
        }

        img {
          width: 100%;
          text-align: center;
          width: 620px;
          height: 90px;
        }

        p {
          color: white;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.4;
          margin-bottom: 14px;

          width: 620px;

          span {
            color: #FFDA6F;
          }
        }
      }

      .right {
        img {
          width: 422px;
          height: 590px;
          object-fit: cover;
        }
      }
    }

    .rit {
      margin-top: -50px;
      margin-right: 550px;
    }
  }
}