.faq {
  padding: 0;
  background-color: #570171;
  position: relative;
  transition: 1s;
  .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      display: block;
      width: 100%;
      fill: #FFF;
      
      &.expet {
        height: 59px;
      }

      &.inves {
        margin-top: -76px;
        transform: rotate(180deg);
      }
    }

    span {
      z-index: 2;
      position: absolute;
      color: white;
      font-size: 2.8rem;

      margin-top: 262px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3.5rem;
      font-weight: 400;
      color: #FFF;
    }

    h1 {
      font-size: 6rem;
      color: #ffd975;
      margin-bottom: 20px;
    }

    .questions {
      max-width: 980px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 150px;

      .question {
        cursor: pointer !important;
        background-color: #6d11c8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: inherit;
        height: fit-content;
        border-radius: 11px;
        padding: 12px 0;
        transition: 500ms;

      
        
        &.rozinha {
          transition: 500ms;
          background-color: #fe4596 !important;
        }
        
        p {
          text-align: left;
          padding: 10px 20px;
          font-size: 1.6rem;
          color: white;

        }

        .textSection {
          display: none;
          background-color: white;
          width: 100%;
          border-radius: 0 0 11px 11px;
          padding: 0;

          p {
            transition: inherit;
            display: inherit;
            color: #000;
          }
        }
      }
    }
  }
}