.fifthSection {
  background: #000;
  padding-top: 32px;
  .svg{
    position: absolute;
    top: 0;
    right: 35%;
    svg{
      width: 46px;
      height: 23px;
    }
  }
  .words {
    text-align: center;
    margin-bottom: 30px;
    .title {
      margin-bottom: 10px;
      h3{
        color: #fff;
        font-family: "Encode Sans", Sans-serif;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        span {
          text-decoration: underline;
        }
      }
    }
    h4{
      color: #fff;
      font-family: "Encode Sans",Sans-serif;
      font-size: 18px;
      text-decoration: underline;
      margin-bottom: 5px;
    }
    p{
      color: #fff;
      font-family: "Encode Sans",Sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    @media (max-width: $screen-xs) {
      grid-template-columns: 1fr;
    }
  }
}