.first {
  padding: 50px 0 20px 0;
  background-image: url("https://ritboxemcasa.com.br/wp-content/uploads/2022/11/background-1.png");
  background-color: #000;
  background-position: top center;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      @media (max-width: 600px) {
        width: 100%;
      }
    }

    h1 {
      margin-top: 12px;
      font-size: 3.5rem;
      text-transform: uppercase;
      color: white;
      text-align: center;

      @media (max-width: $screen-xs) {
        font-size: 2.6rem;
      }
    }

    .h1-fundo {
      margin-top: 14px;
      padding: 4px 12px;
      background-image: linear-gradient(70deg,#d49d17 0,#856109 93%);
      border-radius: 10px;
    }

    p {
      color: white;
      font-size: 1.9rem;
      margin-bottom: 14px;
      line-height: 1.5;
      text-align: center;
      span {
        color: #ffdb67;
      }

      @media (max-width: $screen-xs) {
        font-size: 1.8rem;
      }
    }

    .video {
      width: 100%;
      max-width: 1000px;
      max-height: 562px;
      background-color: #E96310;
      // backdrop-filter: blur(5px);
      box-shadow: 0px 0px 100px -13px #d49d17;

      div {
        height: inherit;
        width: inherit;
        z-index: 2;
      }
    }

    a {
      max-width: 708px;
      text-align: center;
      margin: 20px 0 8px 0;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 2.4rem;
      line-height: 1;
      padding: 20px 40px;
      border-radius: 20px;
      background-image: linear-gradient(180deg,#e7ac1c 0%,#856109 100%);
    }
    
    .icones {
      display: flex;
      gap: 100px;

      @media (max-width: $screen-md) {
        gap: 60px;
      }

      @media (max-width: $screen-xs) {
        gap: 20px;
      }

      @media (max-width: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 148px;
        
        img {
          width: 77px;
          height: 77px;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}