.second {
  padding: 50px 20px 20px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
      margin-top: 12px;
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #f50b4d;
      text-align: center;
      margin-bottom: 20px;
    }
    .flow{
      .carrosel {
        position: relative;
        height: 540px;
        display: flex;
        max-width: 520px;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
        input{
          display: none;
        }
        @media (max-width: $screen-xs) {
          display: flex;
          max-width: 300px;
        }
        .slide{
          position: relative;
          // &.first-slide{
          // }
          img {
            width: 530px;
            height: 535px;
            object-fit: cover;
            @media (max-width: $screen-xs) {
              width: 300px;
              height: fit-content;
            }
          }
        }



        // .navigattion-auto{
        // }
        #radio1:checked ~ .first-slide{
          margin-left: 0;
        }
        #radio2:checked ~ .first-slide{
          margin-left: -100%;
        }
        #radio3:checked ~ .first-slide{
          margin-left: -200%;
        }
        #radio4:checked ~ .first-slide{
          margin-left: -300%;
        }
        #radio5:checked ~ .first-slide{
          margin-left: -400%;
        }

        .navigation-auto div{
          border: 2px solid #f50b4d;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;
        }
        .navigation-auto{
          position: absolute;
          width: 530px;
          top: 32px;
          display: flex;
          justify-content: center;
          gap: 20px;

        }
        #radio1:checked ~ .navigation-auto .auto-btn1{
          background-color: yellow;
        }
        #radio2:checked ~ .navigation-auto .auto-btn2{
          background-color: yellow;
        }
        #radio3:checked ~ .navigation-auto .auto-btn3{
          background-color: yellow;
        }
        #radio4:checked ~ .navigation-auto .auto-btn4{
          background-color: yellow;
        }
        #radio5:checked ~ .navigation-auto .auto-btn5{
          background-color: yellow;
        }
      }
      .manual-navigation{
        position: absolute;
        width: 530px;
        top: 160px;
        display: flex;
        justify-content: center;
        gap: 20px;
        .manual-btn{
          border: 2px solid #f50b4d;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;
          :hover{
            background-color: yellow;
          }
        }
        .manual-btn:hover{
          background-color: yellow;
        }
      }
    }

    p {
      color: #3F3F3F;
      text-align: center;
      font-size: 1.4rem;
      margin-bottom: 14px;
      line-height: 1.5;
    }
  }
}