.second {
  padding: 50px 20px 20px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
      margin-top: 12px;
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #f50b4d;
      text-align: center;
      margin-bottom: 20px;
    }
    .flow{
      overflow-x: hidden;
      .carrosel {
        display: flex;
        max-width: 1060px;
        margin-bottom: 20px;
        width: 100%;
        flex-flow: row nowrap;
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
        @media (max-width: $screen-xs) {
          display: flex;
          max-width: 300px;
        }
  
        img {
          width: 530px;
          height: 535px;
          object-fit: cover;
          @media (max-width: $screen-xs) {
            width: 300px;
            height: fit-content;
          }
        }
      }
    }

    p {
      color: #3F3F3F;
      text-align: center;
      font-size: 1.4rem;
      margin-bottom: 14px;
      line-height: 1.5;
    }
  }
}