.seventSection {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-top: 12px;
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #f50b4d;
      text-align: center;
      margin-bottom: 20px;
    }
    
    .flow{
      .carrosel {
        position: relative;
        height: 540px;
        display: flex;
        max-width: 520px;
        margin-bottom: 20px;
        width: 100%;
        overflow: hidden;
        @media (max-width: $screen-xs) {
          height: 311px;
        }
        input{
          display: none;
        }
        @media (max-width: $screen-xs) {
          display: flex;
          max-width: 300px;
        }
        .slide{
          position: relative;
          // &.first-slide{
          // }
          img {
            width: 530px;
            height: 535px;
            object-fit: cover;
            @media (max-width: $screen-xs) {
              width: 300px;
              height: fit-content;
            }
          }
        }



        // .navigattion-auto{
        // }
        #radiosS1:checked ~ .first-slides,
        #radios1:checked ~ .first-slides{
          margin-left: 0;
        }
        #radiosS2:checked ~ .first-slides,
        #radios2:checked ~ .first-slides{
          margin-left: -100%;
        }
        #radiosS3:checked ~ .first-slides,
        #radios3:checked ~ .first-slides{
          margin-left: -200%;
        }
        #radiosS4:checked ~ .first-slides,
        #radios4:checked ~ .first-slides{
          margin-left: -300%;
        }
        #radiosS5:checked ~ .first-slides,
        #radios5:checked ~ .first-slides{
          margin-left: -400%;
        }

        .navigation-auto div{
          border: 2px solid #f50b4d;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;
                          
          @media (max-width: $screen-xs) {
            display: none;
          }
        }
        .navigation-auto{
          position: absolute;
          width: 530px;
          top: 32px;
          display: flex;
          justify-content: center;
          gap: 20px;
          @media (max-width: $screen-xs) {
            display: none;
          }

        }
        #radiosS1:checked ~ .navigation-auto .autos-btn1,
        #radios1:checked ~ .navigation-auto .autos-btn1{
          background-color: yellow;
        }
        #radiosS2:checked ~ .navigation-auto .autos-btn2,
        #radios2:checked ~ .navigation-auto .autos-btn2{
          background-color: yellow;
        }
        #radiosS3:checked ~ .navigation-auto .autos-btn3,
        #radios3:checked ~ .navigation-auto .autos-btn3{
          background-color: yellow;
        }
        #radiosS4:checked ~ .navigation-auto .autos-btn4,
        #radios4:checked ~ .navigation-auto .autos-btn4{
          background-color: yellow;
        }
        #radiosS5:checked ~ .navigation-auto .autos-btn5,
        #radios5:checked ~ .navigation-auto .autos-btn5{
          background-color: yellow;
        }
      }
      .manual-navigation{
        position: absolute;
        width: 530px;
        top: 160px;
        display: flex;
        justify-content: center;
        gap: 20px;
        @media (max-width: $screen-xs) {
          display: none;
        }
        .manual-btns{
          border: 2px solid #f50b4d;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;
          @media (max-width: $screen-xs) {
            display: none;
          }
          :hover{
            background-color: yellow;
          }
        }
        .manual-btn:hover{
          background-color: yellow;
        }
      }
    }


    p {
      color: #7a7a7a;
      font-family: "Roboto", Sans-serif;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}