.third {
  padding: 0;
  background-color: black;
  position: relative;

  svg {
    display: block;
    width: 100%;
    // transform: rotate(180deg);
    fill: #FFF;

    @media (max-width: $screen-xs) {
      height: 60px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .metodologia {
      margin-top: -24px;

      @media (max-width: $screen-md) {
        margin-top: unset;
      }
      
      @media (max-width: $screen-xs) {
        width: 61%;
      }
    }

    .content {
      
      display: flex;
      gap: 30px;
      @media (max-width: $screen-md) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .left {
        @media (max-width: $screen-xs) {
          width: 100%;
        }
        h1 {
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-size: 3.6rem;
          margin-bottom: 20px;
          span {
            color: #FFFF99;
          }

          @media (max-width: $screen-xs) {
            font-size: 2.1rem;
          }
        }

        .none{
          margin: 0 auto;
          display: none;
          width: 460px;
          height: 550px;

          @media (max-width: $screen-md) {
            display: block;
          }

          @media (max-width: $screen-xs) {
            width: 100%;
            height: fit-content;
          }
        }
        
        img {
          text-align: center;
          width: 620px;
          height: 90px;

          @media (max-width: $screen-md) {
            width: 100% !important;
            height: fit-content;
            object-fit: contain;
          }
        }

        p {
          color: white;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.4;
          margin-bottom: 14px;

          width: 620px;
          @media (max-width: $screen-md) {
            margin: 0 auto 14px;
          } 

          @media (max-width: $screen-xs) {
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
          }

          span {
            color: #FFDA6F;
          }
        }
      }

      .right {
        @media (max-width: $screen-md) {
          display: none;
        }
        img {
          width: 460px;
          height: 550px;
        }
      }
    }

    .rit {
      margin-top: -50px;
      margin-right: 550px;
      @media (max-width: $screen-md) {
        display: block;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
      }

      @media (max-width: $screen-xs) {
        width: 61%;
      }
    }
  }
}