.third {
  padding: 0;
  background-color: black;
  position: relative;

  svg {
    display: block;
    width: 100%;
    // transform: rotate(180deg);
    fill: #FFF;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .metodologia {
      margin-top: -24px;
    }

    .content {
      display: flex;
      gap: 30px;
      @media (max-width: $screen-xs) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .left {
        h1 {
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-size: 3.6rem;
          margin-bottom: 20px;
          span {
            color: #FFFF99;
          }
        }
        .none{
          margin: 0 auto;
          display: none;
          width: 460px;
          height: 550px;
          @media (max-width: $screen-xs) {
            display: block;
          }
        }
        img {
          width: 100%;
          text-align: center;
          width: 620px;
          height: 90px;
        }

        p {
          color: white;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.4;
          margin-bottom: 14px;

          width: 620px;
          @media (max-width: $screen-xs) {
            max-width: 100%;
            width: 100%;
          }

          span {
            color: #FFDA6F;
          }
        }
      }

      .right {
        @media (max-width: $screen-xs) {
          display: none;
        }
        img {
          width: 460px;
          height: 550px;
        }
      }
    }

    .rit {
      margin-top: -50px;
      margin-right: 550px;
      @media (max-width: $screen-xs) {
        display: block;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
      }
    }
  }
}