* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

*::selection {
  color: #fff;
  text-shadow: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  // letter-spacing: -0.6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // @media (prefers-color-scheme: dark){
  //   color: $blue-300;
  // }
}

body, input, textarea, button {
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  // @media (prefers-color-scheme: dark){
  //   color: $blue-300;
  // }
}

p {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;

  // @media (prefers-color-scheme: dark){
  //   color: $blue-300;
  // }
}

// strong {
  // color: $fontColorPrimary;

  // .darkmode & {
  //   color: $fontColorPrimary-dark;
  // }
// }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  

  // @media (prefers-color-scheme: dark){
  //   color: $blue-300;
  // }
}

// @import './commons.scss';




// div {
//   color: $fontColorPrimary;

//   .darkmode & {
//     color: $fontColorPrimary-dark;
//   }
// }

// svg {
//   fill: $fontColorPrimary;

//   .darkmode & {
//     fill: $fontColorPrimary-dark;
//   }
// }

// ul.socialBar {
//   list-style: none;
//   display: flex;
//   justify-content: flex-end;
//   margin: 0;

//   @media(max-width: $screen-sm){
//     padding-right: 0;
//     padding-left: 16px;
//     justify-content: flex-end;
//   }

//   li {
//     margin: 0 10px;

//     @media (max-width: 1130px) {
//       margin-right: 10px;
//     }

//     a {
//       border: none;

//       svg {
//         width: 30px;
//         height: 30px;

//         // .darkmode & {
//         //   fill: $red-dark;
//         // }

//         @media(max-width: $screen-xs){
//           width: 20px;
//           height: 20px;
//         }
//       }

//       &:hover{
//         svg{
//         }
//       }
//     }
//   }
// }

// .visible-mobile{
//   display: none;

//   @media(max-width: $screen-xs){
//     display: block;
//   }
// }




// body{
  
// }