// importar reset css
@import './variables.scss';
@import './commons.scss';
@import './globals.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-4;
}

:root {
  font-size: 62.5%;
}
body {
  background: #FFFFFF;
  
  header {
    background-color: #FF0000;
    padding: 10px;
    h1 {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 1.7rem;
      font-weight: 700;
      padding-bottom: 14px;

      span {
        text-decoration: underline; 
      }
    }
  }
}


@import './header.scss';
@import './components/first';
@import './components/second';
@import './components/third';
@import './components/descont1';
