$blue-300: #C1DBE9; //blue-light2

$blue-400: #55AEEA; //ok
$blue-500: #2193E1; //ok
$blue-700: #073E6A;
$blue-750: #002887;
$blue-800: #002889; //

$blue-CB: #002f67;
$blue-svg: #002f67;

$yellow-500: #FED900;
$green-500: #0C5300;

$gray-100: #f3f3f3;
$gray-200: #eeeeee;
$gray-300: #E0DFE5;

$pink-700: #B24182;

$red-900: #521200;

$font-1: 'Press Start 2P', cursive;
$font-2: 'Lato', sans-serif;
$font-3: 'PT Sans Caption', sans-serif;

$screen-xxs : 320px; // Extra extra small screen / edge phone
$screen-xs  : 710px; // Extra small screen / phone
$screen-sm  : 814px; // Small screen / tablet portrait
$screen-md  : 1024px; // Medium screen and tablet landscape / desktop
$screen-ml  : 1280px; // Medium screen and tablet landscape / desktop
$screen-sl  : 1365px; // Large screen / wide desktop
$screen-lg  : 1366px; // Large screen / wide desktop
$screen-xl  : 1700px; // Extra Large screen / wide desktop